<a href="https://colab.research.google.com/github/tenn2080/Learning-Python/blob/master/Functions%20In%20Python/PracticeColab_Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# function is a collection of instructions or code
# that is used to perform some operation

# we can declare function without an argument

def function1():
  print("hello")
  print("hello world")
print("this is outside the function")

this is outside the function

In [2]:
function1()

hello
hello world

In [3]:
# we can call a function multiple times

function1()
function1()

hello
hello world
hello
hello world

In [6]:
# function can also be a mapping, meaning
# function can also take input or an argument and 
# map the argument to a variable or return value in the function.
# in this example function2(), the x argument is mapping to
# return value 2*x

def function2(x):
  return 2*x

In [7]:
# once function2() is evaluated, it will be assigned to variable a.
# 3 will be passed into function2() & returns value 6
# the output value 6 is assigned to variable a

a = function2(3)
print(a)

6

In [9]:
b = function2(4)
print(b)

8

In [48]:
# multiple arguments in a single function

def function3(x,y):
  return x + y

In [49]:
c = function3(2,5)
print(c)

7

In [16]:
# we can declare a function with or without argument

# we have stored the return value in variable d. So, 
# when variable d is declared, function4() is called which
# prints 5 and still in this function

def function4(x):
  print(x)
  print("still in this function")
  return 3*x

d = function4(5)

5
still in this function

In [17]:
# However, when the variable d is called, it prints the
# return value of the function4() which is 15.
print(d)

15

In [18]:
# a function without a return value

def function5(some_argument):
  print(some_argument)
  print("weee")

In [19]:
function5(4)

4
weee

In [20]:
# BMI calculator variables
# details about individuals

name1 = "YK"
height_m1 = 2
weight_kg1 = 90

name2 = "YK's sister"
height_m2 = 1.8
weight_kg2 = 70

name3 = "YK's brother"
height_m3 = 2.5
weight_kg3 = 160

In [23]:
# BMI calculator function

def bmi_calculator(name, height_m, weight_kg):
  bmi = weight_kg/(height_m ** 2)
  print("bmi: ")
  print(bmi)
  if bmi < 25:
    return name + " is not overweight"
  else:
    return name + " is overweight"

In [25]:
# passing variables into function
# declaring the variables result1, result2, result3 which
# just calls the bmi_calculator() function

result1 = bmi_calculator(name1, height_m1, weight_kg1)
result2 = bmi_calculator(name2, height_m2, weight_kg2)
result3 = bmi_calculator(name3, height_m3, weight_kg3)

bmi:
22.5
bmi:
21.604938271604937
bmi:
25.6

In [26]:
# bmi_calculator() return value is stored in the variables
# result1, result2, result3

print(result1)
print(result2)
print(result3)

YK is not overweight
YK's sister is not overweight
YK's brother is overweight

In [43]:
# converts miles to kilometer function

# variables
miles1 = 200
miles2 = 300
miles3 = -100

In [44]:
# convert miles to kilometer function

def miles_to_km(miles):
  print("miles: ")
  print(miles)
  km = 1.6 * miles
  if km > 0:
    result = "the kilometer is: "
    return km
  else:
    return "invalid"

In [45]:
result1 = miles_to_km(miles1)
result2 = miles_to_km(miles2)
result3 = miles_to_km(miles3)

miles:
200
miles:
300
miles:
-100

In [47]:
print(result1)
print(result2)
print(result3)

320.0
480.0
invalid